.show {
  display: block;
}

.hide {
  display: none;
}

.show-mobile-nav__left-right {
  left: 0;
  transition: left 0.5s ease-in-out;
}
.hide-mobile-nav__left-right {
  left: -100vw;
  transition: left 0.5s ease-in-out;
}

.body--no-scroll {
  overflow: hidden;
}
