@import "./base.css";
@import "./injected-classes.css";
/* .header__shopping-cart-icon g path {
  fill: var(--color-primary);
} */
.nav {
  background-color: var(--color-text-on-primary);
}

.speakers__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
  justify-content: center;
}
.speaker__wrapper {
  max-width: 460px;
}
.speakers.main__header {
  font-size: 98px;
}

.speaker__wrapper .speaker__photo {
  width: 310px;
  height: 310px;
  object-fit: cover;
  margin-bottom: 36px;
}

.speaker__wrapper:nth-child(3) .speaker__photo,
.speaker__wrapper:nth-child(6) .speaker__photo {
  /*Should be 3 and 6, but child(1) is actually the main__header inside <main>*/
  object-position: top;
}

.speaker__name {
  font-size: 32px;
  margin-bottom: 20px;
}
.speaker__company {
  font-size: 24px;
  margin-bottom: 32px;
}
.company__bio {
  font-size: 20px;
}

.speaker__company,
.company__bio {
  color: var(--color-text-on-secondary);
}
